@font-face {
    font-family: AlexanderRegular; /* Имя шрифта */
    src: url(../fonts/AlexanderRegular.ttf); /* Путь к файлу со шрифтом */
   }
   
   @font-face {
    font-family: micross; /* Имя шрифта */
    src: url(../fonts/micross.ttf); /* Путь к файлу со шрифтом */
   }

   @font-face {
    font-family: montserrat; /* Имя шрифта */
    src: url(../fonts/montserrat.ttf); /* Путь к файлу со шрифтом */
   }